<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | Heart Failure Predictor</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
        <ul>
           <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/predict">Predict</a></li>
            <li><a href="/contact">Contact</a></li>

            
        </ul>
    </nav>

    <div class="container">
        <h2>About This Project</h2>
        <p>This web application uses machine learning to assess the probability of heart failure. It is designed for learning, demo, and experimentation.</p>
    </div>
</body>
</html>
