<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact | Heart Failure Predictor</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
        <ul>
           <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/predict">Predict</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2>Contact Us</h2>
        <p>Email us at <a href="mailto:sparshapoojary60@gmail.com">sparshapoojary60@gmail.com/a></p>
    </div>
</body>
</html>
